name: Build and Push to ACR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: ACR Login
        run: az acr login --name nindia
      
      - name: Build and Push
        run: |
          docker build -t nindia.azurecr.io/springboot-config:v1 .
          docker push nindia.azurecr.io/springboot-config:v1
