name: Build and Push to ACR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Docker Login to ACR (Service Principal)
        run: |
          echo "${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}" | docker login ${{ secrets.REGISTRY_LOGIN_SERVER }} \
            -u "${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}" --password-stdin

      - name: Build Docker Image
        run: |
          echo "Workspace files:"
          ls -R .
          docker build -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/springboot-config:v1 .
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/springboot-config:v1
